# Existing project requirements
accelerate>=0.29.1
blobfile
datasets>=2.18.0
evaluate>=0.4.1
fsspec>=2024.2.0
gcsfs>=2024.2.0
huggingface-hub
hydra-core
hydra-joblib-launcher
hydra-submitit-launcher
hydra_colorlog
ipykernel
ipywidgets>=8.1.1
jupyter
lxml
matplotlib>=3.7.4
numpy>=1.26.4
omegaconf
openai
pandas
plotnine>=0.12.4
pre-commit
protobuf>=3.20.0
pycryptodomex
python-dotenv
pyvene>=0.1.4
pyyaml
ray[default]
scikit-learn
seaborn==0.12.2
sentencepiece>=0.1.96
tiktoken
torch>=2.0.0
tqdm
transformers==4.45.1
wandb
ydata-profiling>=4.7.0

# Added by mltoolbox
hydra-ray-jobs-launcher
