# Existing project requirements
accelerate>=0.29.1
datasets>=2.18.0
evaluate>=0.4.1
fsspec>=2024.2.0
gcsfs>=2024.2.0
huggingface-hub
ipywidgets>=8.1.1
jupyter
matplotlib>=3.7.4
numpy>=1.26.4
plotnine>=0.12.4
protobuf>=3.20.0
pyvene>=0.1.4
scikit-learn
seaborn==0.12.2
sentencepiece>=0.1.96
torch>=2.0.0
transformers==4.45.1
wandb
ydata-profiling>=4.7.0

# Added by mltoolbox
blobfile
hydra-core
hydra-joblib-launcher
hydra-submitit-launcher
hydra_colorlog
ipykernel
lxml
omegaconf
openai
pandas
pre-commit
pycryptodomex
python-dotenv
pyyaml
ray[default]
tiktoken
tqdm